{% extends 'base.html' %}

{% block cssfile %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style_boot.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>

{% endblock %}

{% block jsfile %}
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container" id="footer">
    <div class="row" id='eg2'>
        <div class="col-md-6 col-md-offset-3" id="eg1">
            <div class="panel panel-login">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s6"><a class = active href="{{url_for('orgs.index')}}">Organisation</a></li>
                        <li class="tab col s6"><a href="{{url_for('orgs.index')}}">Individual</a></li>
                      </ul>
                    </div>
                  </div>
                    <hr>
                </div>


                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-16">
                            {% if error %}
                                {{ error }}
                            {% endif %}
                            <form id="login-form" action="{{url_for('orgs.index')}}" method="post" role="form" style="display: block;">

                                  <div class="row">
                                    <div class="col s12">
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input type="text" name="orgsearch" id="autocomplete" tabindex="1" class="form-control" placeholder="Search" >
                                          <label for="autocomplete">Autocomplete</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                    <div class="row">
                                        <div class="col s6">

                                            <button class="btn waves-effect waves-light" type="submit" name="login-submit" id="login-submit" tabindex="4">Search
                                            </button>
                                        </div>
                                    </div>

                            </form>
                            <!-- For Individual-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
